@import "tailwindcss";

.font-kavoon {
  font-family: "Kavoon", serif;
  font-weight: 400;
  font-style: normal;
}

.font-inter {
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-weight: 300;
  font-style: normal;
}

.font-iosevka-charon-mono {
  font-family: "Iosevka Charon Mono", monospace;
  font-weight: 700;
  font-style: normal;
}

@theme {
  /* Define a single reusable color */
  --color-bg: #060606;
  --color-border: #464646;

  /* Define a color with multiple shades */
  --color-custom-blue-50: #f0fdfa;
  --color-custom-blue-500: #0d9488;
  --color-custom-blue-900: #115e59;
}
